*.idea
gitCredentials.csv
static/
.venv
venv/
venv2/
env/
*.pyc
db.sqlite3
webpack-stats.dev.json
webpack-stats.prod.json
.DS_Store
.vscode/
/db.sqlite3
/xui/public/index.html
/local_storage/
/xui/debug.log
/xui/local_storage/
/test.py
/app/imageEditingFunctions/zip_temp/productassetslug/temp01.zip
/app/imageEditingFunctions/zip_temp/productassetslug/
/app/imageEditingFunctions/zip_temp/productassetslug/original.jpg
/composite.png
/image.zip
/error.log
/companyslug/
/app/migrations/0001_initial.py
/app/migrations/0002_auto_20200527_1753.py
/app/migrations/0003_auto_20200528_2221.py

/xui/package-lock.json
/xui/public/local_storage/
/local_storage/
/app/migrations/0002_auto_20200604_0225.py
/app/migrations/0003_auto_20200604_0315.py
/app/migrations/0004_messageparticipant_messagethread.py
/app/migrations/0005_fullorder.py
/app/migrations/0005_auto_20200607_1037.py
/app/migrations/0006_auto_20200608_1419.py
/app/migrations/0007_auto_20200608_1432.py
/app/migrations/0008_auto_20200608_2356.py
/app/migrations/0009_fullorder_colorcorrection.py
/app/migrations/0010_productasset_company.py
/app/migrations/0011_auto_20200609_1715.py
