{% extends 'e-commerce-index.html' %}
{% load static %}


{% block content %}
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- MAIN -->
        <div class="col">
            <br />
            <h1>Quickstart</h1>
            <p>Welcome to the XSPACE Connector Plugin, {{firstname}} {{lastname}}. Select from multiple quickstart actions to get started & manage your connection between {{platformName}} and XSPACE.</p>
            <hr />
            <h2>Select Quickstart Option:</h2>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{% static 'img/Arrows-down.png' %}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pull Products</h5>
                        <p class="card-text">Request an update from XSPACE servers to transfer new products to {{ platform }}, otherwise will update all your product information. </p>
                        <a href="{% url 'plugin_product_pull' %}?store_hash={{store_hash}}&email={{email}}&bc_user_id={{bc_user_id}}" class="btn btn-primary">Pull Products</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{% static 'img/Arrows-Up.png' %}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Push Products</h5>
                        <p class="card-text">Pushes newer product information from {{ platform }} to your XSPACE account, otherwise will update all your product information on XSPACE.</p>
                        <a href="{% url 'plugin_product_push' %}" class="btn btn-primary">Push Products</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Pull Content</h5>
                        <p class="card-text">Gathers new product content (2D Photos, 360s, & 3D Models) from XSPACE to {{  platform }}.</p>
                        <a href="{% url 'plugin_content_pull' %}" class="btn btn-primary">Pulls Content</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Push Content</h5>
                        <p class="card-text">Pushes new product content (2D Photos, 360s, & 3D Models) from {{  platform }} to XSPACE .</p>
                        <a href="{% url 'plugin_content_push' %}" class="btn btn-primary">Push Content</a>
                      </div>
                    </div>
                </div>
            </div>

        </div><!-- Main Col END -->

    </div><!-- body-row END -->
{% endblock %}